# Convert data to standard form

In [9]:
import pandas as pd 
import numpy as np
from numpy.linalg import inv
import matplotlib.pyplot as plt


a=pd.read_csv("hw5_1.csv") 
a.head()

,Unnamed: 0,Date,^GSPC,AMZN,AAPL,GOOG,MSFT,INTC
0,1,2010-01-01,1073.869995,125.410004,18.224987,263.257751,22.330048,14.416760
1,2,2010-02-01,1104.489990,118.400002,19.416830,261.697906,22.718327,15.256495
2,3,2010-03-01,1169.430054,135.770004,22.299650,281.727631,23.318153,16.696495
3,4,2010-04-01,1186.689941,137.100006,24.775391,261.151459,24.313295,17.108465
4,5,2010-05-01,1089.410034,125.459999,24.375896,241.245926,20.539722,16.044811

In [12]:
filenames = a.columns.tolist()[ 2: ]
print(filenames)
market_name  = a.columns.tolist()[2 ]
stock_names  = a.columns.tolist()[3:]

['^GSPC', 'AMZN', 'AAPL', 'GOOG', 'MSFT', 'INTC']

In [34]:
m_price= a[market_name].values
s_price = a[stock_names].values
print(m_price.shape, s_price.shape)

m_return = (m_price[1:]-m_price[0:-1])/m_price[1:]
s_return = (s_price[1:,:]-s_price[0:-1,:])/s_price[1:,:]
print(m_return.shape, s_return.shape)

plt.show()

(60,) (60, 5)
(59,) (59, 5)

# Single Index Model tools

All the equation can be found here:  
http://www.stat.ucla.edu/~nchristo/statistics_c183_c283/statc183c283_single_index.pdf

## Market

In [35]:
def get_market( market_return ):
    market_return_mean = np.mean(market_return)
    market_sigma_square = np.sum( (market_return -market_return_mean)*(market_return -market_return_mean ) )
    return market_return_mean, market_sigma_square

## Stock

In [36]:
# given stock return and market return, compute beta
def get_stock( stock_return , market_return ):
    n = len(market_return)
    market_return_mean = np.mean(market_return)
    stock_return_mean = np.mean(stock_return)
    a = np.sum( ( stock_return -stock_return_mean )*(market_return -market_return_mean ) )
    b = np.sum( (market_return -market_return_mean)*(market_return -market_return_mean ) )
    beta = a/b
    alpha = stock_return_mean - beta * market_return_mean
    
    c = np.sum( (stock_return - alpha - beta * market_return)**2 )
    stock_residue_sigma_square = c / ( len(market_return) - 2 )
    return alpha, beta, stock_residue_sigma_square

In [37]:
get_market(m_return)

(0.010295497253684612, 0.079885150303147162)

In [40]:
get_stock( s_return[:,0] , m_return )

(0.0016939183923475754, 1.0287296545467468, 0.0045421531030423821)

## complete information for single index model

In [87]:
market_info = np.array( get_market(m_return) )
print(["market return","market sigma square" ] )
print(market_info)
print("\n")
stock_info = []
for i in range(5):
    stock_info.append( list(get_stock( s_return[:,i] , m_return )) )
stock_info = np.array( stock_info )
print(["alpha", "beta", "stock residue sigma square"])
print(stock_info)

['market return', 'market sigma square']
[ 0.0102955   0.07988515]


['alpha', 'beta', 'stock residue sigma square']
[[ 0.00169392  1.02872965  0.00454215]
 [ 0.01791256  0.83491196  0.00369096]
 [-0.0017541   1.05401581  0.00348485]
 [-0.00158754  1.01920465  0.00217422]
 [ 0.00129761  0.98309138  0.00274854]]

## Method 1. Covariant matrix from single index model

In [91]:
beta_info = []
stock_residue_sigma_square_info = []
for i in range(5):
    beta_info.append( stock_info[i,1] )
    stock_residue_sigma_square_info.append( stock_info[i,2] )
beta_info = np.array( beta_info )
stock_residue_sigma_square_info = np.array( stock_residue_sigma_square_info )

stock_covariance = np.matmul(  beta_info.reshape(5,1), beta_info.reshape(1,5) ) *market_info[1] 
stock_covariance = stock_covariance + np.diag(stock_residue_sigma_square_info)

print(["covariance matrix"])
print(stock_covariance)
print("\n")
stock_return_mean = np.mean( s_return , axis = 0 )
print(["mean return"])
print(stock_return_mean)

['covariance matrix']
[[ 0.08908339  0.06861325  0.08661925  0.08375847  0.08079067]
 [ 0.06861325  0.05937714  0.07029976  0.06797796  0.06556931]
 [ 0.08661925  0.07029976  0.0922332   0.08581725  0.0827765 ]
 [ 0.08375847  0.06797796  0.08581725  0.08515717  0.08004263]
 [ 0.08079067  0.06556931  0.0827765   0.08004263  0.07995503]]


['mean return']
[ 0.0122852   0.0265084   0.00909752  0.00890568  0.01141902]

In [83]:
# Given the excess return and covariance, find z and normalize it
Rf = 0.002

z = np.matmul( inv(stock_covariance) ,  (stock_return_mean - Rf) )

x = z/np.sum(z)

print(stock_names)
print(x)

['AMZN', 'AAPL', 'GOOG', 'MSFT', 'INTC']
[-0.12391056  4.59292077 -1.2289942  -1.88368189 -0.35633411]

## Method 2. Ranking excess return to beta ratio

In [121]:
# construct df

dat0 = pd.DataFrame({"stock name":stock_names})
dat1 = pd.DataFrame({"alpha": stock_info[:,0]})
dat2 = pd.DataFrame({"beta": stock_info[:,1]})
dat3 = pd.DataFrame({"stock residue sigma square": stock_info[:,2] })
dat4 = pd.DataFrame({"(Ri-Rf)/beta": (stock_return_mean - Rf)/stock_info[:,1] })

dat5 =  pd.DataFrame({"(Ri-Rf)*beta/residueSigmaSquare": (stock_return_mean - Rf)*stock_info[:,1]/ stock_info[:,2] })
dat6 =  pd.DataFrame({"betaSquare/residueSigmaSquare" : stock_info[:,1]**2/stock_info[:,2] })
dat = dat0.join(dat1).join(dat2).join(dat3).join(dat4).join(dat5).join(dat6)
dat

,stock name,alpha,beta,stock residue sigma square,(Ri-Rf)/beta,(Ri-Rf)*beta/residueSigmaSquare,betaSquare/residueSigmaSquare
0,AMZN,0.001694,1.028730,0.004542,0.009998,2.329444,232.991860
1,AAPL,0.017913,0.834912,0.003691,0.029354,5.543910,188.860871
2,GOOG,-0.001754,1.054016,0.003485,0.006734,2.146693,318.794414
3,MSFT,-0.001588,1.019205,0.002174,0.006776,3.237157,477.769925
4,INTC,0.001298,0.983091,0.002749,0.009581,3.368977,351.630189

In [122]:
dat.sort_values(by=["(Ri-Rf)/beta"] , ascending=False ,inplace = True)
dat.reset_index( drop=True ,inplace = True )
dat

,stock name,alpha,beta,stock residue sigma square,(Ri-Rf)/beta,(Ri-Rf)*beta/residueSigmaSquare,betaSquare/residueSigmaSquare
0,AAPL,0.017913,0.834912,0.003691,0.029354,5.543910,188.860871
1,AMZN,0.001694,1.028730,0.004542,0.009998,2.329444,232.991860
2,INTC,0.001298,0.983091,0.002749,0.009581,3.368977,351.630189
3,MSFT,-0.001588,1.019205,0.002174,0.006776,3.237157,477.769925
4,GOOG,-0.001754,1.054016,0.003485,0.006734,2.146693,318.794414

In [123]:

COL2 = []
COL4 = []
temp2 = 0
temp4 = 0
for i in range(5):
    temp2 = temp2 + dat.iloc[i]["(Ri-Rf)*beta/residueSigmaSquare"]
    temp4 = temp4 + dat.iloc[i]["betaSquare/residueSigmaSquare"]

    COL2.append(temp2)
    COL4.append(temp4)
    
dat7 =  pd.DataFrame({"COL2" : COL2 })
dat8 =  pd.DataFrame({"COL4" : COL4 })
dat = dat.join(dat7).join(dat8)

In [124]:
dat

,stock name,alpha,beta,stock residue sigma square,(Ri-Rf)/beta,(Ri-Rf)*beta/residueSigmaSquare,betaSquare/residueSigmaSquare,COL2,COL4
0,AAPL,0.017913,0.834912,0.003691,0.029354,5.543910,188.860871,5.543910,188.860871
1,AMZN,0.001694,1.028730,0.004542,0.009998,2.329444,232.991860,7.873355,421.852731
2,INTC,0.001298,0.983091,0.002749,0.009581,3.368977,351.630189,11.242332,773.482921
3,MSFT,-0.001588,1.019205,0.002174,0.006776,3.237157,477.769925,14.479489,1251.252846
4,GOOG,-0.001754,1.054016,0.003485,0.006734,2.146693,318.794414,16.626182,1570.047260

In [130]:
Cstar = dat["COL2"][4] *market_info[1] /(dat["COL4"][4]* market_info[1] + 1)

In [140]:
z = (dat["(Ri-Rf)/beta"] - Cstar )*dat["beta"]/dat["stock residue sigma square"]
x = np.array( z/np.sum(z) )
print(np.array( dat["stock name"]) )
print(x)

['AAPL' 'AMZN' 'INTC' 'MSFT' 'GOOG']
[ 4.59292077 -0.12391056 -0.35633411 -1.88368189 -1.2289942 ]

In [137]:
# Which agrees exactly with method 1
# ['AMZN', 'AAPL', 'GOOG', 'MSFT', 'INTC']
# [-0.12391056  4.59292077 -1.2289942  -1.88368189 -0.35633411]